html{
	scroll-behavior: smooth;
}
.header-container{
	font-family: calibri, arial;
	color: black;
	padding: 40px 0px;
	text-align: center;
	background-color: #c3c3c3;
	border:solid;
	border-radius: 10px;
	border-color: #06032b;
	margin-bottom: 2px;
}
.nav-container{
	background-color: #06032b;
	padding: 15px 10px;
	font-family: calibri, arial;
	border: solid;
	border-radius: 10px;
	border-color: #06032b;
	box-shadow: 0px 10px 30px white;
	position: sticky;
  	top: 10px;
}
.nav-container a{
	color: #c3c3c3;
	text-decoration-line: none;
	margin: 0px 10px;
	padding: 10px 10px; 
}
.nav-container a:hover{
	background-color: #000000;
	border: solid 0px;
	border-color: #06032b;
	border-radius: 20px;
	opacity: 70%;
}
#MID-logo{
	background-color: white;
	color: black;
	font-style: italic;
	font-weight: bold;
	font-size: 160%;
	padding-top: 100px;
	padding-right: 20px;
	padding-left: 20px;
	border: solid;
	border-color: #06032b;
	border-radius: 20px;
}

.content-container{
	font-family: calibri, arial;
	border: solid;
	border-radius: 10px;
	margin-top: 40px;
	border-color: white;
	box-shadow: 0px 2px 30px grey;
	width: 70%;
	text-align: justify;
	padding: 0px 20px;
	display: inline-block;
}
.content-container .section-container h2{
	margin-bottom: -5px;
}
.content-container .section-container p, li{
	color: #1d1d1d;
}
.aside-container{
	border: solid;
	border-radius: 10px;
	margin-top: 40px;
	background-color: #c3c3c3;
	border-color: #06032b;
	box-shadow: 0px 2px 30px grey;
	width: 20%;
	text-align: left;
	padding: 0px 20px;
	float: right;
}
.footer-container .footersection{
	display: inline-block;
	font-family: calibri, arial;
}
.footer-container{
	border: solid #06032b;
	border-radius: 10px;
	opacity: 85%;
	font-size: 75%;
	font-family: calibri, arial;
	margin-top: 30px;
	box-shadow: 0px 10px 30px grey;
	background-color: #c3c3c3;
}
.footersection a, p{
	margin-right: 5px;
	display: inline-block;
}
.footersection{
	margin-left: 10px;
	margin-right: 40px;
}
.footer-container h3{
	margin-left: 10px;
	margin-bottom: -10px; 
}
.footer-container .footersection h4{
	margin-bottom: -10px; 
}


