header{
	text-align: center;
	background-color: #0a0504;
}
body{
	background-color: #ffe4e2;
}
footer{
	color:#543d3d;
	text-indent: 5%;
	background-color: #0a0504;
}
h1{
	color: white;
	background-color: #1d0000;
	font-family: arial;
}
p{
	text-align: justify;
	font-family: arial;
}
h2{
	font-family: arial;
}
h3{
	font-family: arial;
}
h4{
	font-family: arial;
}
h5{
	font-family: arial;
	color: #543d3d;
}
h6{
	font-family: arial;
}
li{
	font-family: arial;
}
#navtab{
	text-align: center;
}
#navtab-ele1{
	color: #6d6d6d;
}
#navtab-ele2{
	color: #6d6d6d;
}
#navtab-ele3{
	color: #6d6d6d;
}
#navtab-ele4{
	color: #6d6d6d;
}
#navtab-ele5{
	color: #6d6d6d;
}
i{
	color: #525252;
}
#anchor1, #anchor2{
	color: #6d6d6d;
	text-indent: 20%;
}