header{
	text-align: center;
	background-color: #0a0504;
}
body{
	background-color: #ffe4e2;
}
footer{
	color:#543d3d;
	text-indent: 5%;
	background-color: #0a0504;
}
h1{
	color: white;
	background-color: #1d0000;
	font-family: arial;
}
p{
	text-align: justify;
	font-family: arial;
}
h2, h3, h4, h5, h6, li, span{
	font-family: arial;
}
h5{
	color: #543d3d;
}
div{
	text-align: justify;
}
#navtab{
	text-align: center;
}
#navtab-ele1, #navtab-ele2, #navtab-ele3, #navtab-ele4, #navtab-ele5{
	color: #6d6d6d;
}
i{
	color: #525252;
}
#anchor1, #anchor2{
	color: #6d6d6d;
	text-indent: 20%;
}
#section1, #section2, #section3, #section4, #section5{
	width: 70%;
}
#footersection1, #footersection2, #footersection3{
	width: 350px;
	display: inline-block;
}