header{
	text-align: center;
	background-color: #0a0504;
}
body{
	background-color: #ffe4e2;
}
footer{
	background-color: #0a0504;
}
h1{
	color: white;
	background-color: #2b1414;
	font-family: arial;
}
p{
	text-align: justify;
	font-family: arial;
}
h2{
	font-family: arial;
}
h3{
	font-family: arial;
}
h4{
	font-family: arial;
}
h5{
	font-family: arial;
}
h6{
	font-family: arial;
}
li{
	font-family: arial;
}
